/* src/pages/HomePage.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f0f0f0;
  font-family: "Lato", sans-serif;
}
.trip-query {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Lato", sans-serif;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 20%;
}
.departure {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.departure-selections {
  border: 1px solid #f5f5f5;
  width: 50%;
  font-size: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.destination {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.destination-selections {
  border: 1px solid #f5f5f5;
  width: 50%;
  font-size: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.departureDate {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.departureDate-dateinput {
  border: 1px solid #f5f5f5;
  width: 50%;
  font-size: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.search-button {
  background-color: #ed6a5a;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 600;
}
